## Technologies Used
Python – Programming language for data analysis
Pandas – Data loading, cleaning, and analysis
NumPy – Numerical computations

## Libraries: 
pandas
numpy

## Development Environment
Google Colab  – Cloud-based notebook for coding and analysis
